/* --- GENEL ÖZELLİK TANIMLAMALARI --- */
/* Root Elemanlarına Fontları Ekle */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Tag'inin Özelliklerini Tanıma */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* --- HEADER BÖLÜMÜ --- */
/* "header" class'ının özelliklerini tanımla */
.header {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
}

/* "header-div" class'ının özelliklerini tanımla */
.header-div {
    display: flex;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

/* "container" class'ının özelliklerini tanımla */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* "navigation" class'ının özelliklerini tanımla */
.navigation {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

/* "logo" class'ının özelliklerini tanımla */
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

/* "logo-span" class'ının özelliklerini tanımla */
.header-logo-span {
    color: #2e2f42;
}

/* "navigation-ul" class'ının özelliklerini tanımla */
.navigation-ul {
    display: flex;
    gap: 40px;
}

/* "navigtation-li" class'ının özelliklerini tanımla */
.navigation-li {
    padding: 24px 0;
}

/* "menu" class'ının özelliklerini tanımla */
.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* "menu" class'ının HOVER özelliklerini tanımla */
.menu:hover, .menu:focus {
    color: #404bbf;
}

/* "adres" class'ının özelliklerini tanımla */
.adres {
    font-style: normal;
}

/* "adres-ul" class'ının özelliklerini tanımla */
.adres-ul {
    display: flex;
    gap: 40px;
}

/* "adres-link" class'ının özelliklerini tanımla */
.adres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* "adres-link" class'ının HOVER özelliklerini tanımla */
.adres-link:hover, .adres-link:focus {
    color: #404bbf;
}

/* --- SECTION 1 BÖLÜMÜ --- */
/* "hero-section" class'ının özelliklerini tanımla */
.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

/* "hero-header" class'ının özelliklerini tanımla */
.hero-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

/* "hero-button" class'ının özelliklerini tanımla */
.hero-button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* "hero-button" class'ının HOVER ve FOCUS özelliklerini tanımla */
.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/* --- SECTION 2 BÖLÜMÜ */
/* "our-features-section" class'ının özelliklerini tanımla */
.our-features-section {
    padding: 120px 0;
}

/* "visually-hidden" class'ının özelliklerini tanımla */
.visually-hidden {
    visibility: hidden;
}

/* "our-features-ul" class'ının özelliklerini tanımla */
.our-features-ul {
    display: flex;
    gap: 24px;
}

/* "our-features-li" class'ının özelliklerini tanımla */
.our-features-li {
    flex-basis: calc((100% - 72px) / 4)
}

/* "our-features-list-header" class'ının özelliklerini tanımla */
.our-features-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

/* "our-features-list-paragraph" class'ının özelliklerini tanımla */
.our-features-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --- SECTION 3 BÖLÜMÜ --- */
/* "our-team-section" class'ının özelliklerini tanımla */
.our-team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

/* "our-team-header" class'ının özelliklerini tanımla */
.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

/* "our-team-ul" class'ının özelliklerini tanımla */
.our-team-ul {
    display: flex;
    gap: 24px;
}

/* "our-team-list" class'ının özelliklerini tanımla */
.our-team-list {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

/* "our-team-calisan-bilgi" class'ının özelliklerini tanımla */
.our-team-calisan-bilgi {
    padding: 32px 0;
}

/* "our-team-list-header" class'ının özelliklerini tanımla */
.our-team-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

/* "our-team-list-paragraph" class'ının özelliklerini tanımla */
.our-team-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* --- SECTION 4 BÖLÜMÜ --- */
/* "our-portfolio-section" class'ının özelliklerini tanımla */
.our-portfolio-section {
    padding: 120px 0;
}

/* "our-portfolio-header" class'ının özelliklerini tanımla */
.our-portfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

/* "our-portfolio-ul" class'ının özelliklerini tanımla */
.our-portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

/* "our-portfolio-li" class'ının özelliklerini tanımla */
.our-portfolio-li {
    width: calc((100% - 72px) / 4);
}

/* "our-portfolio-div" class'ının özelliklerini tanımla */
.our-portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* "our-portfolio-list-header" class'ının özelliklerini tanımla */
.our-portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* "our-portfolio-list-paragraph" class'ının özelliklerini tanımla */
.our-portfolio-list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --- FOOTER BÖLÜMÜ */
/* "footer" class'ının özelliklerini tanımla */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

/* "footer-logo" class'ının özelliklerini tanımla */
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

/* "footer-logo-span" class'ının özelliklerini tanımla */
.footer-logo-span {
    color: #f4f4fd;
}

/* "footer-paragraph" class'ının özelliklerini tanımla */
.footer-paragraph {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}